body {
  font-family: 'Open Sans';           
  padding: 2em 0;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  margin-bottom: 1em;
}

pre {
  padding: 20px;
}

.header {
  margin-bottom: 2em;
}

.bundles {
  padding: 0;
  list-style-type: none;
}

.bundles .bundle {
  padding: 10px;
  margin-bottom: 20px;

  font-size: .85em;
  background: whitesmoke;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
}

.bundles li {
  position: relative;
}

.bundles .info {
  position: absolute;
  top: 10px;
  left: 10px;
}

.bundle:hover {
  background: gray;
  color: white;
}

.bundle.selected {
  background: #FF002A;
  color: white;
}

.bundle.required {
  background: black;
  color: white;
}
