<!DOCTYPE html>
<html ng-app='xgen'>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/styles.css' />

    <script src='/libs/jquery-1.8.1.min.js'></script>
    <script src='/libs/angular-1.0.1.min.js'></script>
    <script src='/libs/bootstrap.min.js'></script>

    <script src='/app.js'></script>
  </head>

  <body>

    <div class='header'>
      <h1>App.js Generator</h1>
    </div>

    <div class='container' ng-controller='BundleCtrl'>

      <div class='row'>

        <div class='span6'>

          <h2>Requirements</h2>

          <ul class='bundles row'>
            <li class='span2' ng-repeat='bundle in bundles' ng-click='select(bundle)'>
              <div ng-class='getClass(bundle)' class='bundle' popover='bundle'>
                {{bundle.name}}
              </div>
            </li>
          </ul>

        </div>

        <div class='span6'>
          <h2>App.js</h2>
          <pre ng-repeat='bundle in bundles | selected'>{{bundle.code}}</pre>
        </div>

      </div>

    </div>

  </body>

</html>
