<!DOCTYPE html>
<html ng-app='xgen'>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='css/bootstrap.min.css' />
    <link rel='stylesheet' href='css/styles.css' />

    <script src='libs/jquery-1.8.1.min.js'></script>
    <script src='libs/angular-1.0.1.min.js'></script>
    <script src='libs/bootstrap.min.js'></script>

    <script src='app.js'></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7876652-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body>

    <div class='container' ng-controller='BundleCtrl'>

      <div class='header row'>
        <div class='span12'>
          <h1>App.js Generator</h1>
          <p>For more Express.js info take a look at <a href='http://expressjs.com'>expressjs.com</a> or the <a href='https://github.com/visionmedia/express/tree/master/examples'>examples directory</a> on github.</p>
        </div>
      </div>

      <div class='row'>

        <div class='span6'>

          <h2>What do you need?</h2>

          <ul class='bundles row'>
            <li class='span2' ng-repeat='bundle in bundles'>
              <div ng-class='getClass(bundle)' class='bundle' popover='bundle' ng-click='select(bundle)'>
                {{bundle.name}}
              </div>

              <a title='info' class='info' ng-href='{{bundle.link}}' ng-show='hasLink(bundle)' target='_blank'>
                <i class='icon-info-sign'></i>
              </a>
            </li>
          </ul>

        </div>

        <div class='span6'>
          <h2>App.js</h2>
          <pre ng-repeat='bundle in bundles | filter: { selected: true }'>{{bundle.code}}</pre>
          <a class='btn btn-inverse' ng-href='data:text/plain;charset=utf-8;base64,{{code}}' download='app.js'>Download <i class='icon-download-alt icon-white'></i></a>
        </div>

      </div>

      <div class='footer row'>
        <div class='span12'>
          <a href='http://github.com/enome/application-generator'>fork me on github</a>
        </div>
      </div>

    </div>

  </body>

</html>
